* {
  margin: 0;
  padding: 0;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  opacity: 0;
  transition: all 1s ease-out;
}

.aboutme.fade-in {
  opacity: 1;
}

.aboutme > p {
  letter-spacing: 2px;
  text-align: center;
  padding: 0 100px;
  line-height: 2;
}

#arrow {
  padding-left: 10px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  width: 120px;
  height: 120px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
}
