* {
  margin: 0;
  padding: 0;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  opacity: 0;
  transition: all 1s ease-out;
}

.aboutme.fade-in {
  opacity: 1;
}

.aboutme > p {
  letter-spacing: 2px;
  text-align: center;
  padding: 0 100px;
  line-height: 2;
}

#arrow {
  padding-left: 10px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  width: 120px;
  height: 120px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white;
}

.content-container > h1{
  z-index: 2;
  font-size: 80px;
  margin: 0;
  text-shadow: 1px 1px 1px gray;
  text-align: center;
}

.content-container > p {
  z-index: 2;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 50px 150px 0 150px;
  text-align: center;
}

#email-logo, #linked-in {
  border-radius: 10px;
}

footer {
  height: 60px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

footer a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  display: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
  padding: 0 20px;
  opacity: 0.8;
}

#foot-github {
  max-width: 58%;
  max-height: 58%;
}

header {
  position: fixed;
  height: 60px;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

header.slideIn {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  }

.header > p {
  padding: 20px;
  letter-spacing: 3px;
}

.header > p:hover {
  cursor: pointer;
}

.hidden-links {
  display: none;
}

/* Shine.js in header */
.thomas {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 250px; right: 0;
  width: 100%;

  display: table;
  height: auto;

  color: #FAFAFA;
  text-transform: uppercase;
  text-align: center;

  font-size: 8em;
  font-family: 'Rock Salt', cursive;
  font-weight: 800;

  letter-spacing: -0.02em;
  line-height: 1.2em;
}
